body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    text-align: center;
}

header {
    background: #333;
    color: white;
    padding: 40px 0;
}

section {
    padding: 30px;
    margin: 20px;
    background: white;
    border-radius: 8px;
}

h2 {
    color: #333;
}
.profile-img {
    width: 150px;
    border-radius: 50%;
    margin-top:15px;
}
.project-card {
    background: #fff;
    padding:20px;
    margin:15px auto;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1)
}

nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
nav ul {
    display: flex;
    margin-left:30px;
    gap: 20px;
    padding: 10px;

}

#skills ul{
    list-style: none;
    padding: 0 ;

}